@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&family=Raleway:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient( 135deg, #97ABFF 10%, #123597 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    
}
.container{
    background-color: white;
    width: 400px;
    height: 270px;
    text-align: center; 
    padding-top: 10px;
}
button{
    margin-left: 190px;
    background-color: #123597;
    border-radius: 20px;
    width: 130px;
    color: white;
    height: 30px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
button:hover{
    width: 160px;
    transition: all .5s;
}
.title{
    font-family: 'Raleway', sans-serif;
}
.quote{
    font-family: 'IBM Plex Mono', monospace;
}
.autho, .dash{
    margin-left: 190px;
    font-style: italic;
}

